.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 50px;
}

.popup > .popup-text {
    visibility: hidden;
    width: 160px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

}

.popup > .popup-text::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid #555555;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.popup .hide {
    visibility: hidden;
    animation: fadeOut 0.3s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}