*{
	padding: 0;
	margin: 0;
}
body{
	text-align: center;
}
.header{
	grid-area: header;
	background-color: yellow;
}
.main{
	grid-area: main;
	background-color: green;
}
.left{
	grid-area: left;
	background-color: red;
	}
.right{
	grid-area: right;
	background-color: red;
}
.footer{
	grid-area: footer;
	background-color: grey;
}

.container{
	display: grid;
	grid-template-areas: "header header header"
		"left main right"
		"footer footer footer";
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: 100px 1fr 100px;
	min-height: 100vh;
}

@media screen and (max-width: 600px){
	.container{
	grid-template-areas: "header"
	"left"
	"main"
	"right"
	"footer";
	grid-template-columns: 100%;
	grid-template-rows: 100px 50px 1fr 50px 30px;
	}
}