.menu{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.menu-item {
    border: 1px solid red;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    padding: 5px;
}

.submenu {
    width: 150px;
    background-color: #cccccc;
    position: absolute;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    font-size: 19px;
    top: 37px;
    left: -1px;
}