<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dynamic styles</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }

        .red{background: red}
        .blue{background: blue}
        .green{background: green}
    </style>
</head>
<body>
    <div id="app">
<!--        You have the same way to use css styles like a work with classes-->
<!--        <div class="circle" :style="{'background': color, 'height': height + 'px'}"></div>-->
        <div class="circle" :style="getCssStyles"></div>
        <div class="circle" :style="[getCssStyles, {'width': height + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="height">
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isActive: false,
            color: 'blue',
            height: 100
        },
        computed: {
            getCssStyles() {
                return {
                    'background': this.color,
                    'height': this.height + 'px'
                }
            }
        }
    })
</script>
</body>
</html>